[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/FuzzyFinder"]
	path = bundle/FuzzyFinder
	url = git@github.com:vim-scripts/FuzzyFinder.git
[submodule "bundle/L9"]
	path = bundle/L9
	url = git@github.com:vim-scripts/L9.git
